@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.X {
  font-size: 0.6em;
}

@media screen and (min-width: 992px) {
  .OP {
    font-size: 2em !important;
  }
  #ciao {
    font-size: 2em !important;
  }
}
